header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color:azure;
}
.a {
    color: aliceblue;
    background-color:blueviolet
}
.bank {
    color:blueviolet;
    width: 150%;
}
.inputs {
    display:flex ;
    justify-content: space-around;
}